@charset "UTF-8";


.fightarea {
    display: flex;
    gap: 20px;
}

#char, #monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid rgb(92, 91, 91);
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    border: 1px dotted rgb(182, 181, 181);
    height: 200px;
    overflow-y: scroll;
}